body {
    font-family: 'Montserrat', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


/*Card Container */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 5px;
    text-align: center;
    width: 1700px;
    overflow: hidden;
    overflow-y: auto;
    color: rgba(75, 80, 109, 1);
}

.grid-container2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 8px;
    text-align: center;
    width: 1700px;
    color: rgba(75, 80, 109, 1);
}

.doctor-flexbox-container {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    height: 175px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.doctor-flexbox-container2 {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    height: 260px;
}

.doctor-flexbox-view:hover {
    color: #388440;
    cursor: pointer;
}

.doctor-flexbox-Info {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.doctor-flexbox-view {
    margin-top: 10%;
    text-align: center;
}

.doctor-flexbox-Info .Lname {
    font-weight: bold;
    font-size: 1.3rem;
}

.doctor-flexbox-Info .Fname {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.doctor-flexbox-Info {
    inline-size: max-content;
}

.HMO_choosedoctor {
    position: absolute;
    left: 55%;
    top: 35%;
}

.HMO_choosedoctor .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Info .specialization,
.HMO_Accreditation {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Avail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 52%;
    color: #388440;
}

.doctor-flexbox-Avail>div {
    text-align: center;
}

.doctor-flexbox-Avail .header {
    margin-bottom: 10px;
    font-weight: bold;
}

.sched {
    font-weight: 600;
    font-size: 0.75rem;
}