body {
    font-family: 'Montserrat', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


/* HOME CSS */


/*Search Form*/

.searchForm-container {
    display: flex;
    flex-direction: column;
    background-color: #def4fc;
    justify-content: center;
    align-items: center;
}

.tagtitle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

.form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-search>* {
    margin: 0 5px;
}

.form-search>input,
select {
    text-align: center;
    width: 300px !important;
    border-color: rgba(56, 132, 64, 1) !important;
    font-size: 15px !important;
}

.Search,
.Clear {
    border-radius: 40px;
    padding: 5px 20px;
}

.Search {
    background-color: #24B7E9;
    border: none;
}

.Clear {
    border: none;
    background-color: #d2302c;
}

.Clear:hover {
    background-color: #c71e00;
}


/*Card Container */

.card-container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 2% auto;
    padding: 25px 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 5px;
    text-align: center;
    width: 1700px;
    overflow: hidden;
    overflow-y: auto;
    color: rgba(75, 80, 109, 1);
}

.grid-container2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 30rem));
    border-radius: 8px;
    text-align: center;
    width: 1700px;
    color: rgba(75, 80, 109, 1);
}

.doctor-flexbox-container {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.doctor-flexbox-container2 {
    position: relative;
    flex-direction: row;
    border: 1px solid #24B7E9;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    height: 260px;
}

.doctor-flexbox-view:hover {
    color: #388440;
    cursor: pointer;
}

.doctor-flexbox-Info {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.doctor-flexbox-view {
    margin-top: 10%;
    text-align: center;
}

.doctor-flexbox-Info .Lname {
    font-weight: bold;
    font-size: 1.1rem;
}

.doctor-flexbox-Info .Fname {
    margin-bottom: 15px;
    font-size: 1rem;
}

.HMO_choosedoctor {
    position: absolute;
    left: 55%;
    top: 35%;
}

.HMO_choosedoctor .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Info .specialization,
.HMO_Accreditation {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
    font-weight: 600;
    color: #388440;
    font-size: 1rem;
}

.doctor-flexbox-Avail {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 52%;
    color: #388440;
}

.doctor-flexbox-Avail>div {
    text-align: center;
}

.doctor-flexbox-Avail .header {
    margin-bottom: 10px;
    font-weight: bold;
}

.header {
    font-size: 1.1rem;
}

.sched {
    font-weight: 600;
    font-size: 0.75rem;
}

.notFound {
    font-size: 3rem;
}


/*Track Me*/

.form-track {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-track input {
    text-align: center;
    width: 800px !important;
    font-size: 14px !important;
    padding: 5px;
}

.Search-track {
    margin: 20px 0;
    border: none;
    border-radius: 40px;
    padding: 5px 20px;
    background-color: #24B7E9;
}

.otp-input {
    text-align: center;
}


/* Home Page Media Query */

@media only screen and (max-width: 600px) {
    /*Seach Form*/
    col-1 .tagtitle {
        font-size: 25px;
    }
    .form-search {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
    }
    .search-responsive {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .form-search>input {
        width: 150px !important;
        margin: 5px;
        font-size: 14px !important;
    }
    .form-search>select {
        width: 311px !important;
        margin: 5px;
        font-size: 14px !important;
    }
    .Clear,
    .Search {
        font-size: 15px !important;
    }
    /*Card-Container*/
    .card-container {
        height: auto;
        width: 90%;
        margin: 5% auto;
    }
    .doctor-flexbox-container {
        border: 1px solid #24B7E9;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .doctor-flexbox-Info .Lname {
        font-weight: bold;
        font-size: 1rem;
    }
    .doctor-flexbox-Info .Fname {
        margin-bottom: 8px;
        font-size: 0.85rem;
    }
    .doctor-flexbox-Info .HMO_Accreditation .HMO_Head {
        font-size: 0.9rem;
    }
    .doctor-flexbox-Info .specialization,
    .HMO_Accreditation {
        font-weight: 600;
        font-size: 0.8rem;
        margin-bottom: 2px;
    }
    .header {
        font-size: 0.95rem;
        margin: 0 0 5px 0 !important;
    }
    .doctor-flexbox-Avail {
        top: 8%;
        left: 51%;
    }
    .sched {
        font-size: 0.6rem;
    }
    .notFound {
        margin: 2%;
    }
    /*Track Me*/
    .form-track input {
        text-align: center;
        width: 350px !important;
        font-size: 14px !important;
        padding: 5px;
    }
    .Search-track {
        font-size: 14px;
    }
    .tagtitle--p {
        font-size: 14px;
        text-align: center;
    }
}


/* Book Appointment CSS */

.Tracking--NavBar {
    width: 100%;
    position: relative;
}

.NavBar--background {
    width: 100%;
    height: 10vh;
}

.NavBar--logo {
    position: absolute;
    top: 15%;
    left: 3%;
}

.Tracking--Footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Tracking--Footer img {
    width: 100%;
}

.Track--main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.Track--sub_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 62%;
}

.sub-title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}

.Track--tagtitle {
    color: rgba(56, 132, 64, 1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.patient-list_Container {
    padding: 2% 3.5%;
    overflow-y: scroll;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    height: 60vh;
    width: 90%;
    margin-bottom: 15px;
}

.patient-card {
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 15px 40px;
    border: 1px solid black;
}

.patient-name {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 12px 0;
}

.patient-gender {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 12px;
}

.View-btn,
.Edit-btn {
    color: white;
    border-radius: 8px;
    font-weight: 500;
    padding: 4px 12px;
}

.View-btn {
    background-color: #388440;
    margin: 0 20px 0 0;
}

.Edit-btn {
    background-color: #24B7E9;
}


/* Book Appointment Media Query*/

@media only screen and (max-width: 600px) {
    .Track--sub_container {
        width: 100%;
        height: 75vh;
    }
    .sub-title,
    .end-title {
        font-size: 15px;
        text-align: center;
        padding: 5px;
    }
    .patient-list_Container {
        height: 50vh;
        width: 90%;
        margin-bottom: 12px;
    }
    .patient-card {
        padding: 8px 20px;
    }
    .patient-name {
        font-size: 15px;
        margin: 0 0 8px 0;
    }
    .patient-gender {
        font-size: 14px;
        font-weight: 100;
        margin-bottom: 12px;
    }
    .card-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .View-btn,
    .Edit-btn {
        font-size: 10px;
        padding: 5px 11px;
    }
}